<div style="padding-left: 20px">
<h1 style="text-align: center"><b>Stanislav Nosovskiy</b></h1>

Kharkov <br/>
Cell: 0934247448  <br/>
E-Mail: mypostboxst@gmail.com <br/>
 <hr>

  <h3><b>Highlights</b></h3>
<ul>
  <li>Ruby</li>
  <li>Ror</li>
  <li>Ajax</li>
  <li>Cloudinary API</li>
  <li>Mapbox API</li>
  <li>git</li>
  <li>Html</li>
  <li>Css</li>
  <li>Bootstrap</li>
  <li>Jquery</li>
  </ul>

  <hr>
    <h3><b>Experience</b></h3>

October 2013 to June 2014 <br/>
Company name: Inservery  <br/>
Jr software developer  <br/>
<a href="inservery.com">Inservery</a><br/>
  <hr>
      <h3><b>Summary</b></h3>

Have a passion to learn new cool features<br/>
Familiarity with the MVC model,testing,popular Gems <br/>
  <hr>
        <h3><b>Language skills</b></h3>

English: pre-intremediate <br/>
Russian:   native speaker <br/>
Ukrainian:  native speaker<br/>

</div>